[data-theme="light"] {
    /* For .main-container */
    --primary-main-container: hsla(186, 66%, 40%, 1);
    --secondary-main-container: hsla(188, 78%, 69%, 1);

    /* For .login-box */
    --primary-login-box: hsla(232, 73%, 65%, 1);
    --secondary-login-box: hsla(279, 33%, 48%, 1);
}

[data-theme="dark"] {
    /* For .main-container */
    --primary-main-container: #5C5470;
    --secondary-main-container: #5C5470;

    /* For .login-box */
    --primary-login-box: #352F44;
    --secondary-login-box: #352F44;
}

.main-container {
    background-color: var(--main-container-dark);

    background: var(--primary-main-container);

    background: radial-gradient(circle, var(--primary-main-container) 0%, var(--secondary-main-container) 100%);

    background: -moz-radial-gradient(circle, var(--primary-main-container) 0%, var(--secondary-main-container) 100%);

    background: -webkit-radial-gradient(circle, var(--primary-main-container) 0%, var(--secondary-main-container) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#239EAB", endColorstr="#74DEEE", GradientType=1);

    width: 100%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: var(--primary-login-box);
    background: linear-gradient(90deg, var(--primary-login-box) 0%, var(--secondary-login-box) 100%);
    background: -moz-linear-gradient(90deg, var(--primary-login-box) 0%, var(--secondary-login-box) 100%);
    background: -webkit-linear-gradient(90deg, var(--primary-login-box) 0%, var(--secondary-login-box) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#6274E7", endColorstr="#8752A3", GradientType=1);

    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-logo {
    width: 90px;
    margin-top: 20px;
}

.credential-box {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.credential-box label {
    margin-top: 4px;
    font-size: x-large;
}

.credential-box input {
    font-size: x-large;
    height: 35px;
}

.credential-box button {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    background: hsla(145, 84%, 73%, 1);

    background: radial-gradient(circle, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(145, 84%, 73%, 1) 0%, hsla(150, 61%, 48%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#82F4B1", endColorstr="#30C67C", GradientType=1);
}

.credential-box div {
    font-size: 20px;
    margin-top: 10px;
}

.credential-box div a {
    color: black;
}

/* Desktop */
@media screen and (min-width: 768px) {
    .login-box {
        width: 30vw;
        height: 80vh;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .login-box {
        width: 85vw;
        height: 60vh;
    }


    .credential-box label {
        margin-top: 4px;
        font-size: x-large;
        margin-left: 12px;
    }

    .credential-box input {
        font-size: medium;
        height: 35px;
        align-self: center;
        width: 90%;
    }

    .credential-box button {
        width: 92%;
        align-self: center;
    }
}