<aside class="left">
    <nav class="navigation">
        <ul>
            <a href="index.php">
                <li>Home</li>
            </a><a href="about.php">
                <li>About</li>
            </a>
        </ul>
    </nav>
    <hr>
    <p class="category">Categories</p>
    <div class="navigation">
        <ul>
            <li>Literary fiction</li>
            <li>History</li>
            <li>Mystery</li>
            <li>Horror</li>
            <li>Adventure</li>
        </ul>
    </div>
</aside>